/**
 *
 * APP SCSS
 *
 */
/*----------  HELPERS  ----------*/
/*===============================
=            Extends            =
===============================*/
/* line 10, app/assets/stylesheets/app.css */
.text-decoration-none {
  text-decoration: none;
}

/* line 12, app/assets/stylesheets/app.css */
.text-decoration-none:hover, .text-decoration-none:focus, .text-decoration-none:active {
  text-decoration: none;
}

/* line 15, app/assets/stylesheets/app.css */
.valign-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 24, app/assets/stylesheets/app.css */
.underline-effect {
  position: relative;
  text-decoration: none;
  color: #3498db;
  overflow: hidden;
}

/* line 29, app/assets/stylesheets/app.css */
.underline-effect:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #3498db;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

/* line 48, app/assets/stylesheets/app.css */
.underline-effect:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/*===================================
=            Extra Class            =
===================================*/
/* line 59, app/assets/stylesheets/app.css */
.clearfix:before, .accordion:before, .clearfix:after, .accordion:after {
  content: " ";
  display: table;
}

/* line 63, app/assets/stylesheets/app.css */
.clearfix:after, .accordion:after {
  clear: both;
}

/* line 66, app/assets/stylesheets/app.css */
.center {
  text-align: center;
}

/* line 68, app/assets/stylesheets/app.css */
.center > img {
  display: block;
  margin: auto;
}

/* line 72, app/assets/stylesheets/app.css */
.bold {
  font-weight: bold;
}

/* line 75, app/assets/stylesheets/app.css */
.italic {
  font-style: italic;
}

/* line 78, app/assets/stylesheets/app.css */
.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

/* line 87, app/assets/stylesheets/app.css */
.block {
  display: block;
}

/*----------  FROM CANVAS  ----------*/
/* line 91, app/assets/stylesheets/app.css */
.uppercase {
  text-transform: uppercase !important;
}

/* line 94, app/assets/stylesheets/app.css */
.lowercase {
  text-transform: lowercase !important;
}

/* line 97, app/assets/stylesheets/app.css */
.capitalize {
  text-transform: capitalize !important;
}

/* line 100, app/assets/stylesheets/app.css */
.nott {
  text-transform: none !important;
}

/* line 103, app/assets/stylesheets/app.css */
.tright {
  text-align: right !important;
}

/* line 106, app/assets/stylesheets/app.css */
.tleft {
  text-align: left !important;
}

/* line 109, app/assets/stylesheets/app.css */
.fright {
  float: right !important;
}

/* line 112, app/assets/stylesheets/app.css */
.fleft {
  float: left !important;
}

/* line 115, app/assets/stylesheets/app.css */
.fnone {
  float: none !important;
}

/* line 118, app/assets/stylesheets/app.css */
.ohidden {
  position: relative;
  overflow: hidden !important;
}

/* line 122, app/assets/stylesheets/app.css */
.line,
.double-line {
  clear: both;
  position: relative;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #EEE;
}

/* line 129, app/assets/stylesheets/app.css */
.line.line-sm,
.double-line.line-sm {
  margin: 30px 0;
}

/* line 133, app/assets/stylesheets/app.css */
span.middot {
  display: inline-block;
  margin: 0 5px;
}

/* line 137, app/assets/stylesheets/app.css */
.double-line {
  border-top: 3px double #E5E5E5;
}

/* line 140, app/assets/stylesheets/app.css */
.emptydiv {
  display: block !important;
  position: relative !important;
}

/* line 144, app/assets/stylesheets/app.css */
.allmargin {
  margin: 50px !important;
}

/* line 147, app/assets/stylesheets/app.css */
.leftmargin {
  margin-left: 50px !important;
}

/* line 150, app/assets/stylesheets/app.css */
.rightmargin {
  margin-right: 50px !important;
}

/* line 153, app/assets/stylesheets/app.css */
.topmargin {
  margin-top: 50px !important;
}

/* line 156, app/assets/stylesheets/app.css */
.bottommargin {
  margin-bottom: 50px !important;
}

/* line 159, app/assets/stylesheets/app.css */
.clear-bottommargin {
  margin-bottom: -50px !important;
}

/* line 162, app/assets/stylesheets/app.css */
.allmargin-sm {
  margin: 30px !important;
}

/* line 165, app/assets/stylesheets/app.css */
.leftmargin-sm {
  margin-left: 30px !important;
}

/* line 168, app/assets/stylesheets/app.css */
.rightmargin-sm {
  margin-right: 30px !important;
}

/* line 171, app/assets/stylesheets/app.css */
.topmargin-sm {
  margin-top: 30px !important;
}

/* line 174, app/assets/stylesheets/app.css */
.bottommargin-sm {
  margin-bottom: 30px !important;
}

/* line 177, app/assets/stylesheets/app.css */
.clear-bottommargin-sm {
  margin-bottom: -30px !important;
}

/* line 180, app/assets/stylesheets/app.css */
.allmargin-lg {
  margin: 80px !important;
}

/* line 183, app/assets/stylesheets/app.css */
.leftmargin-lg {
  margin-left: 80px !important;
}

/* line 186, app/assets/stylesheets/app.css */
.rightmargin-lg {
  margin-right: 80px !important;
}

/* line 189, app/assets/stylesheets/app.css */
.topmargin-lg {
  margin-top: 80px !important;
}

/* line 192, app/assets/stylesheets/app.css */
.bottommargin-lg {
  margin-bottom: 80px !important;
}

/* line 195, app/assets/stylesheets/app.css */
.clear-bottommargin-lg {
  margin-bottom: -80px !important;
}

/* line 198, app/assets/stylesheets/app.css */
.nomargin {
  margin: 0 !important;
}

/* line 201, app/assets/stylesheets/app.css */
.noleftmargin {
  margin-left: 0 !important;
}

/* line 204, app/assets/stylesheets/app.css */
.norightmargin {
  margin-right: 0 !important;
}

/* line 207, app/assets/stylesheets/app.css */
.notopmargin {
  margin-top: 0 !important;
}

/* line 210, app/assets/stylesheets/app.css */
.nobottommargin {
  margin-bottom: 0 !important;
}

/* line 213, app/assets/stylesheets/app.css */
.noborder {
  border: none !important;
}

/* line 216, app/assets/stylesheets/app.css */
.noleftborder {
  border-left: none !important;
}

/* line 219, app/assets/stylesheets/app.css */
.norightborder {
  border-right: none !important;
}

/* line 222, app/assets/stylesheets/app.css */
.notopborder {
  border-top: none !important;
}

/* line 225, app/assets/stylesheets/app.css */
.nobottomborder {
  border-bottom: none !important;
}

/* line 228, app/assets/stylesheets/app.css */
.noradius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 235, app/assets/stylesheets/app.css */
.nopadding {
  padding: 0 !important;
}

/* line 238, app/assets/stylesheets/app.css */
.noleftpadding {
  padding-left: 0 !important;
}

/* line 241, app/assets/stylesheets/app.css */
.norightpadding {
  padding-right: 0 !important;
}

/* line 244, app/assets/stylesheets/app.css */
.notoppadding {
  padding-top: 0 !important;
}

/* line 247, app/assets/stylesheets/app.css */
.nobottompadding {
  padding-bottom: 0 !important;
}

/* line 250, app/assets/stylesheets/app.css */
.noabsolute {
  position: relative !important;
}

/* line 253, app/assets/stylesheets/app.css */
.noshadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 260, app/assets/stylesheets/app.css */
.hidden {
  display: none !important;
}

/* line 263, app/assets/stylesheets/app.css */
.nothidden {
  display: block !important;
}

/* line 266, app/assets/stylesheets/app.css */
.inline-block {
  float: none !important;
  display: inline-block !important;
}

/* line 270, app/assets/stylesheets/app.css */
.center {
  text-align: center !important;
}

/* line 273, app/assets/stylesheets/app.css */
.divcenter {
  position: relative !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 279, app/assets/stylesheets/app.css */
.color {
  color: #3498db !important;
}

/* line 282, app/assets/stylesheets/app.css */
.border-color {
  border-color: #3498db !important;
}

/* line 285, app/assets/stylesheets/app.css */
.nobg {
  background: none !important;
}

/* line 288, app/assets/stylesheets/app.css */
.nobgcolor {
  background-color: transparent !important;
}

/* line 291, app/assets/stylesheets/app.css */
.bg-theme {
  background-color: #3498db;
}

/* line 294, app/assets/stylesheets/app.css */
.bg-secondary {
  background-color: #2ecc71;
}

/* line 297, app/assets/stylesheets/app.css */
.text-theme {
  color: #3498db;
}

/* line 300, app/assets/stylesheets/app.css */
.text-dark {
  color: #000;
}

/* line 303, app/assets/stylesheets/app.css */
.text-light {
  color: #fff;
}

/*----------  BASE  ----------*/
/*==================================
=            Typography            =
==================================*/
/* line 310, app/assets/stylesheets/app.css */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
}

/*----------  Heading  ----------*/
/* line 317, app/assets/stylesheets/app.css */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* line 325, app/assets/stylesheets/app.css */
dl,
dt,
dd,
ol,
ul,
li {
  padding: 0;
}

/* line 333, app/assets/stylesheets/app.css */
a {
  color: #3498db;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 340, app/assets/stylesheets/app.css */
a:hover, a:focus {
  color: #2ecc71;
}

/*----------  LAYOUT  ----------*/
/*==============================
=            Layout            =
==============================*/
/*----------  CONTAINER  ----------*/
/* line 348, app/assets/stylesheets/app.css */
.container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/*----------  SECTION  ----------*/
/* line 355, app/assets/stylesheets/app.css */
.section-panel {
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

/*----------  Display Table  ----------*/
/* line 361, app/assets/stylesheets/app.css */
.display-table {
  display: table;
  width: 100%;
}

/* line 364, app/assets/stylesheets/app.css */
.display-table .display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 367, app/assets/stylesheets/app.css */
.display-table.valign-top .display-table-cell {
  vertical-align: top;
}

/* line 369, app/assets/stylesheets/app.css */
.display-table.valign-middle .display-table-cell {
  vertical-align: middle;
}

/* line 371, app/assets/stylesheets/app.css */
.display-table.valign-bottom .display-table-cell {
  vertical-align: bottom;
}

/*----------  GRID  ----------*/
/* line 375, app/assets/stylesheets/app.css */
.grid-nopadding div[class*="col-"] {
  padding: 0;
}

/*==============================
=            Header            =
==============================*/
/*==============================
=            Footer            =
==============================*/
/*===============================
=            Sidebar            =
===============================*/
/*==================================
=            Responsive            =
==================================*/
/*----------  COMPONENTS  ----------*/
/*===============================
=            Buttons            =
===============================*/
/*================================
=            Dropdown            =
================================*/
/*============================
=            Form            =
============================*/
/*==============================
=            Banner            =
==============================*/
/*===============================
=            Sliders            =
===============================*/
/*============================
=            LIst            =
============================*/
/*============================
=            Card            =
============================*/
/*=================================
=            Thumbnail            =
=================================*/
/*===============================
=            Wysiwyg            =
===============================*/
/* line 418, app/assets/stylesheets/app.css */
.wysiwyg-content {
  line-height: 1.5;
}

/* line 420, app/assets/stylesheets/app.css */
.wysiwyg-content h1 {
  font-size: 36px;
}

/* line 422, app/assets/stylesheets/app.css */
.wysiwyg-content h2 {
  font-size: 30px;
}

/* line 424, app/assets/stylesheets/app.css */
.wysiwyg-content h3 {
  font-size: 24px;
}

/* line 426, app/assets/stylesheets/app.css */
.wysiwyg-content h4 {
  font-size: 18px;
}

/* line 428, app/assets/stylesheets/app.css */
.wysiwyg-content h5 {
  font-size: 14px;
}

/* line 430, app/assets/stylesheets/app.css */
.wysiwyg-content h6 {
  font-size: 12px;
}

/* line 432, app/assets/stylesheets/app.css */
.wysiwyg-content p {
  margin-bottom: 15px;
}

/* line 434, app/assets/stylesheets/app.css */
.wysiwyg-content strong {
  font-weight: bold;
}

/* line 436, app/assets/stylesheets/app.css */
.wysiwyg-content em {
  font-style: italic;
}

/* line 438, app/assets/stylesheets/app.css */
.wysiwyg-content u {
  text-decoration: underline;
}

/* line 440, app/assets/stylesheets/app.css */
.wysiwyg-content a {
  color: #3498db;
}

/* line 442, app/assets/stylesheets/app.css */
.wysiwyg-content img {
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

/* line 447, app/assets/stylesheets/app.css */
.wysiwyg-content ol,
.wysiwyg-content ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* line 451, app/assets/stylesheets/app.css */
.wysiwyg-content ol li,
.wysiwyg-content ul li {
  margin-bottom: 5px;
}

/* line 454, app/assets/stylesheets/app.css */
.wysiwyg-content ol li h1,
.wysiwyg-content ol li h2,
.wysiwyg-content ol li h3,
.wysiwyg-content ol li h4,
.wysiwyg-content ol li h5,
.wysiwyg-content ol li h6,
.wysiwyg-content ol li p,
.wysiwyg-content ul li h1,
.wysiwyg-content ul li h2,
.wysiwyg-content ul li h3,
.wysiwyg-content ul li h4,
.wysiwyg-content ul li h5,
.wysiwyg-content ul li h6,
.wysiwyg-content ul li p {
  display: inline;
  margin: 0;
}

/* line 470, app/assets/stylesheets/app.css */
.wysiwyg-content p {
  color: #000;
}

/* line 472, app/assets/stylesheets/app.css */
.wysiwyg-content table {
  width: 100% !important;
  max-width: 100%;
  line-height: 1.5;
}

/* line 476, app/assets/stylesheets/app.css */
.wysiwyg-content table > thead > tr > th,
.wysiwyg-content table > tbody > tr > th,
.wysiwyg-content table > tfoot > tr > th,
.wysiwyg-content table > thead > tr > td,
.wysiwyg-content table > tbody > tr > td,
.wysiwyg-content table > tfoot > tr > td {
  border: 1px solid #ccc;
  padding: 15px 30px;
  vertical-align: top;
  border: 1px solid #c1c2c2;
}

/* line 486, app/assets/stylesheets/app.css */
.wysiwyg-content table > thead > tr > th {
  font-weight: bold;
  background-color: #333;
  color: #fff;
}

/* line 490, app/assets/stylesheets/app.css */
.wysiwyg-content q {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  font-style: italic;
}

@media (max-width: 767px) {
  /* line 497, app/assets/stylesheets/app.css */
  .wysiwyg-content h1 {
    font-size: 30px;
  }
  /* line 499, app/assets/stylesheets/app.css */
  .wysiwyg-content h2 {
    font-size: 24px;
  }
  /* line 501, app/assets/stylesheets/app.css */
  .wysiwyg-content h3 {
    font-size: 18px;
  }
  /* line 503, app/assets/stylesheets/app.css */
  .wysiwyg-content h4 {
    font-size: 14px;
  }
  /* line 505, app/assets/stylesheets/app.css */
  .wysiwyg-content h5 {
    font-size: 10px;
  }
  /* line 507, app/assets/stylesheets/app.css */
  .wysiwyg-content h6 {
    font-size: 8px;
  }
}

/* line 510, app/assets/stylesheets/app.css */
.wysiwyg-content.paragraph-indent p {
  text-indent: 2em;
}

/*==================================
=            Popup SCSS            =
==================================*/
/*----------  MAGNIFIC POPUP  ----------*/
/* line 517, app/assets/stylesheets/app.css */
.white-popup {
  position: relative;
  background-color: #fff;
  padding: 25px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

/* 
====== Zoom effect ======
*/
/* line 528, app/assets/stylesheets/app.css */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 532, app/assets/stylesheets/app.css */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* line 536, app/assets/stylesheets/app.css */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* line 539, app/assets/stylesheets/app.css */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

/* line 542, app/assets/stylesheets/app.css */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 544, app/assets/stylesheets/app.css */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

/* line 547, app/assets/stylesheets/app.css */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Newspaper effect ======
*/
/* line 553, app/assets/stylesheets/app.css */
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 557, app/assets/stylesheets/app.css */
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}

/* line 562, app/assets/stylesheets/app.css */
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}

/* line 565, app/assets/stylesheets/app.css */
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

/* line 568, app/assets/stylesheets/app.css */
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 570, app/assets/stylesheets/app.css */
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}

/* line 573, app/assets/stylesheets/app.css */
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Move-horizontal effect ======
*/
/* line 579, app/assets/stylesheets/app.css */
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 583, app/assets/stylesheets/app.css */
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}

/* line 587, app/assets/stylesheets/app.css */
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}

/* line 590, app/assets/stylesheets/app.css */
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}

/* line 593, app/assets/stylesheets/app.css */
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 595, app/assets/stylesheets/app.css */
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}

/* line 598, app/assets/stylesheets/app.css */
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Move-from-top effect ======
*/
/* line 604, app/assets/stylesheets/app.css */
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 608, app/assets/stylesheets/app.css */
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}

/* line 610, app/assets/stylesheets/app.css */
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}

/* line 614, app/assets/stylesheets/app.css */
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}

/* line 617, app/assets/stylesheets/app.css */
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}

/* line 620, app/assets/stylesheets/app.css */
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 622, app/assets/stylesheets/app.css */
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}

/* line 625, app/assets/stylesheets/app.css */
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== 3d unfold ======
*/
/* line 631, app/assets/stylesheets/app.css */
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 635, app/assets/stylesheets/app.css */
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}

/* line 637, app/assets/stylesheets/app.css */
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}

/* line 642, app/assets/stylesheets/app.css */
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}

/* line 645, app/assets/stylesheets/app.css */
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}

/* line 648, app/assets/stylesheets/app.css */
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 650, app/assets/stylesheets/app.css */
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}

/* line 653, app/assets/stylesheets/app.css */
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Zoom-out effect ======
*/
/* line 659, app/assets/stylesheets/app.css */
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}

/* line 663, app/assets/stylesheets/app.css */
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

/* line 667, app/assets/stylesheets/app.css */
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* line 670, app/assets/stylesheets/app.css */
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

/* line 673, app/assets/stylesheets/app.css */
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 675, app/assets/stylesheets/app.css */
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}

/* line 678, app/assets/stylesheets/app.css */
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== "Hinge" close effect ======
*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

/* line 707, app/assets/stylesheets/app.css */
.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

/* line 711, app/assets/stylesheets/app.css */
.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}

/* line 715, app/assets/stylesheets/app.css */
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}

/* line 718, app/assets/stylesheets/app.css */
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 721, app/assets/stylesheets/app.css */
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/*==============================
=            Toggle            =
==============================*/
/* line 727, app/assets/stylesheets/app.css */
.toggle {
  display: block;
  position: relative;
  margin: 0 0 20px 0;
}

/* line 732, app/assets/stylesheets/app.css */
.toggle .togglet,
.toggle .toggleta {
  display: block;
  position: relative;
  line-height: 24px;
  padding: 0 0 0 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #444;
  cursor: pointer;
}

/* line 744, app/assets/stylesheets/app.css */
.toggle .togglet i {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

/* line 753, app/assets/stylesheets/app.css */
.toggle .toggleta {
  font-weight: bold;
}

/* line 756, app/assets/stylesheets/app.css */
.toggle .togglet i.toggle-open,
.toggle .toggleta i.toggle-closed {
  display: none;
}

/* line 760, app/assets/stylesheets/app.css */
.toggle .toggleta i.toggle-open {
  display: block;
}

/* line 763, app/assets/stylesheets/app.css */
.toggle .togglec {
  display: block;
  position: relative;
  padding: 10px 0 0 24px;
}

/* Toggle - with Title Background
-----------------------------------------------------------------*/
/* line 770, app/assets/stylesheets/app.css */
.toggle.toggle-bg .togglet,
.toggle.toggle-bg .toggleta {
  background-color: #EEE;
  line-height: 44px;
  padding: 0 0 0 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 781, app/assets/stylesheets/app.css */
.toggle.toggle-bg .togglet i {
  left: 14px;
  line-height: 44px;
}

/* line 785, app/assets/stylesheets/app.css */
.toggle.toggle-bg .togglec {
  padding: 12px 0 0 36px;
}

/* Toggle - Bordered
-----------------------------------------------------------------*/
/* line 790, app/assets/stylesheets/app.css */
.toggle.toggle-border {
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 797, app/assets/stylesheets/app.css */
.toggle.toggle-border .togglet i {
  left: 14px;
  line-height: 44px;
}

/* line 800, app/assets/stylesheets/app.css */
.toggle.toggle-border .togglec {
  padding: 0 15px 15px 36px;
}

/* line 802, app/assets/stylesheets/app.css */
.toggle.toggle-border .togglet,
.toggle.toggle-border .toggleta {
  line-height: 44px;
  padding: 0 15px 0 36px;
}

/*=================================
=            Accordion            =
=================================*/
/* line 810, app/assets/stylesheets/app.css */
.accordion {
  margin-bottom: 20px;
}

/* line 813, app/assets/stylesheets/app.css */
.acctitle,
.acctitlec {
  display: block;
  position: relative;
  line-height: 24px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  border-top: 1px dotted #DDD;
  padding: 10px 0 10px 20px;
  height: 50px;
}

/* line 827, app/assets/stylesheets/app.css */
.acctitlec {
  cursor: auto;
}

/* line 830, app/assets/stylesheets/app.css */
.acctitle:first-child {
  border-top: none;
}

/* line 833, app/assets/stylesheets/app.css */
.acctitle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
}

/* line 842, app/assets/stylesheets/app.css */
.acctitle .fa {
  float: right;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 5px;
}

/* line 849, app/assets/stylesheets/app.css */
.acctitle .fa-plus {
  display: inline-block;
}

/* line 852, app/assets/stylesheets/app.css */
.acctitle .fa-minus {
  display: none;
}

/* line 855, app/assets/stylesheets/app.css */
.acctitle.acctitlec .fa-plus {
  display: none;
}

/* line 858, app/assets/stylesheets/app.css */
.acctitle.acctitlec .fa-minus {
  display: inline-block;
}

/* line 861, app/assets/stylesheets/app.css */
.acctitle i.acc-open,
.acctitlec i.acc-closed {
  display: none;
}

/* line 865, app/assets/stylesheets/app.css */
.acctitlec i.acc-open {
  display: block;
}

/* line 868, app/assets/stylesheets/app.css */
.acc_content {
  position: relative;
  padding: 0 0 15px 20px;
}

/* Accordion - with Title Background
-----------------------------------------------------------------*/
/* line 874, app/assets/stylesheets/app.css */
.accordion.accordion-bg .acctitle,
.accordion.accordion-bg .acctitlec {
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 50px;
  padding: 10px 20px 10px 36px;
  margin-bottom: 5px;
  border-top: 0;
  border-radius: 15px;
}

/* line 883, app/assets/stylesheets/app.css */
.accordion.accordion-bg .acctitle i {
  left: 14px;
  line-height: 50px;
}

/* line 887, app/assets/stylesheets/app.css */
.accordion.accordion-bg .acc_content {
  padding: 10px 0 30px 36px;
  color: #fff;
}

/* Accordion - Bordered
-----------------------------------------------------------------*/
/* line 893, app/assets/stylesheets/app.css */
.accordion.accordion-border {
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 900, app/assets/stylesheets/app.css */
.accordion.accordion-border .acctitle,
.accordion.accordion-border .acctitlec {
  border-color: #CCC;
  line-height: 44px;
  padding: 0 15px 0 36px;
}

/* line 905, app/assets/stylesheets/app.css */
.accordion.accordion-border .acctitle i {
  left: 14px;
  line-height: 44px;
}

/* line 908, app/assets/stylesheets/app.css */
.accordion.accordion-border .acc_content {
  padding: 0 15px 15px 36px;
}

/* Accordion - Large
-----------------------------------------------------------------*/
/* line 913, app/assets/stylesheets/app.css */
.accordion.accordion-lg .acctitle {
  font-size: 23px;
  line-height: 44px;
  padding-left: 30px;
  font-weight: 400;
}

/* line 918, app/assets/stylesheets/app.css */
.accordion.accordion-lg .acctitle i {
  width: 20px;
  font-size: 20px;
  line-height: 64px;
}

/* line 923, app/assets/stylesheets/app.css */
.accordion.accordion-lg .acc_content {
  padding: 10px 0 30px 30px;
}

/*======================================
=            Elements Mixed            =
======================================*/
/*----------  Block Section  ----------*/
/* line 930, app/assets/stylesheets/app.css */
::selection {
  background: #3498db;
  color: #FFF;
  text-shadow: none;
}

/* line 935, app/assets/stylesheets/app.css */
::-moz-selection {
  background: #3498db;
  /* Firefox */
  color: #FFF;
  text-shadow: none;
}

/* line 941, app/assets/stylesheets/app.css */
::-webkit-selection {
  background: #3498db;
  /* Safari */
  color: #FFF;
  text-shadow: none;
}

/* line 947, app/assets/stylesheets/app.css */
:active,
:focus {
  outline: none !important;
}

/*----------  PAGES  ----------*/
/*----------  THEMES  ----------*/

/*# sourceMappingURL=core.css.map */
