/*==============================
=            Layout            =
==============================*/


/*----------  CONTAINER  ----------*/

.container-full {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


/*----------  SECTION  ----------*/

.section-panel {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}


/*----------  Display Table  ----------*/

.display-table {
    display: table;
    width: 100%;
    .display-table-cell {
        display: table-cell;
        vertical-align: middle;
    }
    &.valign-top {
        .display-table-cell {
            vertical-align: top;
        }
    }
    &.valign-middle {
        .display-table-cell {
            vertical-align: middle;
        }
    }
    &.valign-bottom {
        .display-table-cell {
            vertical-align: bottom;
        }
    }
}


/*----------  GRID  ----------*/

.grid-nopadding {
    div[class*="col-"] {
        padding: 0;
    }
}
