<!--===================================
=            ASSETS BOTTOM            =
====================================-->
<!-- Plugins JS -->
<script src="assets/js/plugins.js" type="text/javascript"></script>
<!-- Core JS -->
<script src="assets/js/core.js" type="text/javascript"></script>