/*==================================
=            Typography            =
==================================*/

html {
  // font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
    font-family: $body-font;
    line-height: $line-height-base;
    font-size: $font-size-base + 2;
    color: $body-color;
}


/*----------  Heading  ----------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

dl,
dt,
dd,
ol,
ul,
li {
    padding: 0;
}

a {
    color: $theme-color;
    @include transition(all .25s);
    &:hover,
    &:focus {
        color: $secondary-color;
    }
}