/*===============================
=            Extends            =
===============================*/

.text-decoration-none {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.valign-center {
    position: absolute;
    top: 50%;
    @include translateY (-50%);
}

.underline-effect {
    position: relative;
    text-decoration: none;
    color: $theme-color;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0;
        background-color: $theme-color;
        visibility: hidden;
        @include scaleX(0);
        @include transition (all 0.1s ease-in-out 0s)
    }
    &:hover {
        &:before {
            visibility: visible;
            @include scaleX(1);
        }
    }
}
