//-------------------- Base Colors --------------------//

$white:							#fff;
$black:							#000;

$theme-color:                   #3498db;
$secondary-color:				#2ecc71;
$body-color:                    $black;
$heading-color:                 $black;

$dark-color:                    $black;
$light-color:                   $white;

//-------------------- Border --------------------//

$border-color:					$theme-color;

//-------------------- Line Height --------------------//

$line-height-base:              1.5;
$line-height-content:           1.8;


//-------------------- Margins --------------------//

$margin-base:                   50px;
$margin-small:                  30px;
$margin-big:                    80px;



//-------------------- Font Families --------------------//

$body-font:                     'Lato', sans-serif;
$heading-font:                  'Lato', sans-serif;
$secondary-font:                'Lato', sans-serif;


//-------------------- Font Sizes --------------------//

$font-size-base:                14px;
$font-size-h1:                  36px;
$font-size-h2:                  30px;
$font-size-h3:                  24px;
$font-size-h4:                  18px;
$font-size-h5:                  $font-size-base;
$font-size-h6:                  12px;

//-------------------- Media Queries --------------------//

$phone-width: 767px;
$tablet-width: 800px;
$desktop-width: 1024px;
$desktop-lg-width: 1440px;


//-------------------- Transition --------------------//

$ease-in-out-5s: 				all .5s ease-in-out;
$ease-in-out-3s: 				all .3s ease-in-out;
$ease-in-out-2s: 				all .2s ease-in-out;

//-------------------- Box Shadow --------------------//

$box-shadow-default:			5px 7px 15px 0px #ddd;