<!--===================================
=            ASSETS BOTTOM            =
====================================-->
<!-- Plugins JS -->
<script src="assets/js/plugins.js?cb=1566982256584" type="text/javascript"></script>
<!-- Core JS -->
<script src="assets/js/core.js?cb=000" type="text/javascript"></script>